---
import AuthLayout from "@/layouts/AuthLayout.astro";
import { ResendVerificationForm } from "@/components/system/auth/ResendVerificationForm";
---

<AuthLayout title="Weryfikacja e-mail - FinFlow">
  <div class="container mx-auto px-4 py-12 flex items-center justify-center min-h-[calc(100vh-8rem)]">
    <ResendVerificationForm client:load />
  </div>
</AuthLayout>
